.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 50px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #4b4b4b;
}

.row {
  display: flex;
}

.cell {
  width: 18px;
  height: 18px;
  background-color: black;
  border: solid 1px #4b4b4b;

  &.filled {
    background-color: white;
  }
}
